<html>
  <head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <style>
      table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      }

      td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
      }

      tr:nth-child(even) {
      background-color: #dddddd;
      }
    </style>
  </head>
  <body style="background:green">
    <h3>Quizserien 2021</h3>
    <div class="container" style="background:yellow">
      <div class="jumbotron" style="background:white">
	<p>
	  Her kommer en enkeltrunde for en pub:
	</p>
	<table class="singleRound">
	</table>
	<p>
	  Her kommer en multirunde for en pub:
	</p>
	<table class="multipleRounds">
	</table>
      </div>
    </div>
    <script src="js/jquery.min.js">
    </script>
    <script src="js/bootstrap.bundle.min.js">
    </script>
    <script src="js/build-table.js"></script>
  </body>
</html>
